input, textarea, select, .form-control {
  font-size: 1rem !important;
}

p, strong, span, .display-7 {
  font-size: 1rem !important;
  line-height: 1.5 !important;
}

.display-2 {
  line-height: 1.25 !important;
}

.display-4 {
  font-size: 1rem !important;
  line-height: 1.5;
}

.cid-uPhV2TD8My .item-wrapper {
  padding: 1rem 2.25rem 1rem 2.25rem !important;
}

.cid-uPxck6qxJ5 ul.list li:not(:last-child) {
  margin-bottom: 12px !important;
}

.cid-uPiqnEp5Fi .social-row .soc-item a .mbr-iconfont {
  font-size: 2rem !important;
}

.cid-uPwXO0sxN8 .card-text strong {
  font-size: 1.3rem !important;
}

.cid-tJS6tZXiPa .navbar .navbar-logo img {
  height: 5rem;
  width: auto;
}

@media (max-width: 767px) {
  .cid-uPigtACuxd {
    padding-top: 6rem !important;
  }
  .btn {
    padding: 0.75rem 1.5rem !important;
  }
  .cid-tJS6tZXiPa .navbar .navbar-logo img {
    height: 4rem !important;
  }
  .cid-tJS6tZXiPa .container {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}